:root {
    --black: #000000;
    --blue: #0077be;
    --light-blue: #4da8da;
    --white: #ffffff;
}

*{
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1500px;
    outline: 0px solid white;
}