:root {
    --yellow: #f7bf0a;
    --yellow-alt: #ffd700;
    --white: #ffffff;
    --gray-black: #181818;
    --gray-ligth: #b6b6b6;
}

* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: var(--gray-black);
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    margin: 0 auto;
}

.typed-cursor {
    display: none;
}

h1{
    padding: 1rem 0;
    text-align: center;
    letter-spacing: 1px;
    color: var(--yellow);
    outline: 1px solid white;
    font-family: 'Roboto Condensed', sans-serif; 
}